<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmu-rfKbWuOYexTv_lbMqKmM4NZCn1zMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>414693486859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noteAppWithFirebase</string>
	<key>PROJECT_ID</key>
	<string>note-app-745a6</string>
	<key>STORAGE_BUCKET</key>
	<string>note-app-745a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414693486859:ios:314155aff8b89d9a99720e</string>
</dict>
</plist>